body  {
    font-family: cursive;
    background: lavender;
    color: black;
    position: static; 
    left: 50%;
    right: 50%;

}
.crying {
    width: 120px;
    left: 75%;
}
.links  {
    font-family: 'Courier New', Courier, monospace;
    display:inline-flex;
    border-radius: 2vmin;
    background: snow;
    justify-content: center;
}
