h1  {
    color: red;
    font-family: Arial;
    background: purple
}
p   {
    font-size: 30px;
    background:lightgreen;
    width: 300px;
}
a   {
    font-size: 30px;
    font-weight: 200;
    background: lightgrey;
}
h4  {
    font-size: 40px;
    background:pink;
    width: 100px;
    height: 100px;
    padding: 20px;
    border: 10px solid blue;
    margin: 0 auto;
    text-align: center;
}